---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const music = await getCollection("music");

export const prerender = true;
---

<Layout title="Minutes To Metal | Shop">
  <main class="w-5xl mx-auto">
    <div class="container mx-auto">
      <h1 class="text-4xl font-bold text-center mt-10">Welcome to Minutes To Metal</h1>
    </div>
    <section aria-label="music shop">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-4 md:grid-cols-2">
          {
            music.map((music: { data: any }) => {
              const { slug, data } = music;
              const { title, description, price, image } = data;
              return (
                <article class="flex">
                  <a href={`/music/${slug}`} class="mb-2 xl:mb-0 transition hover:scale-110">
                    <img transition:name={`img-${slug}`} class="mr-5 w-48 rounded" src={image} alt={title} />
                  </a>
									<div class="flex flex-col justify-center">
									<h2 transition:name={`title-${slug}`} class="mb-2 text-2xl font-bold leading-tight text-theme-kariyasu">
										{title}
									</h2>
									<p class="mb-2 text-theme-kariyasu">{price}</p>
									<p class="mb-4 text-theme-kariyasu max-w-sm">{description}</p>
								</div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
