---
import ProductCard from "@/components/ProductCard.astro";
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";

const music = await getCollection("music");

export const prerender = true;
---

<Layout title="Minutes To Metal | Shop">
  <main class="w-5xl mx-auto">
    <div class="mx-auto">
      <h1 class="text-4xl font-bold text-center mt-10">Welcome to Minutes To Metal</h1>
    </div>
    <section aria-label="music shop">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-4 md:grid-cols-2 lg:grid-cols-4">
          {music.map((music: { data: any, slug: string }) => {
            const { slug, data } = music;
            const { title, description, price, image } = data;
            
            return (
              <ProductCard 
                key={slug}
                slug={slug}
                title={title}
                artist={data.artist}
                description={description}
                price={price}
                albumArtUrl={image}
                isPreOrder={data.isPreOrder}
                />
            );
          })}
        </div>
      </div>
    </section>
  </main>
</Layout>
